@font-face {
  font-family: "send";
  src: url("../fonts/earwig_factory_rg.otf");
}
body {
  background-color: #b40000;
  position: relative;
  font-family: "Arsenal", sans-serif;
  overflow-y: scroll;
}
body .logo {
  position: fixed;
  top: -20px;
  left: -10px;
  z-index: 1000000;
}
body .chats {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  overflow: visible;
}
body .chats .chat {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
body .chats__chat-cont {
  position: relative;
  width: auto;
  height: 70px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
}
body .chats__chat-cont::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 90%;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 89% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 89% 0, 100% 100%, 0% 100%);
  z-index: -1;
  right: 0;
  background-color: red;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  opacity: 0;
}
@-webkit-keyframes move {}
@keyframes move {}
body .chats__chat-cont .chat-msg {
  color: white;
  font-weight: 600;
  background-color: black;
  -webkit-clip-path: polygon(0 0, 100% 0, 88% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 88% 100%, 0 100%);
  padding: 0 40px 0 10px;
  height: 43px;
  max-width: 320px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 50px;
  top: 5px;
  overflow: visible;
}
body .chats__chat-cont .chat-msg p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 430px) {
  body .chats__chat-cont .chat-msg {
    max-width: 220px;
  }
}
@media screen and (max-width: 330px) {
  body .chats__chat-cont .chat-msg {
    max-width: 180px;
  }
}
body .chats__chat-cont .user-name {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 20px;
  background-color: white;
  position: absolute;
  -webkit-clip-path: polygon(19% 0, 100% 0%, 100% 75%, 54% 86%, 54% 100%, 0 100%, 29% 84%);
          clip-path: polygon(19% 0, 100% 0%, 100% 75%, 54% 86%, 54% 100%, 0 100%, 29% 84%);
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 10px 0 35px;
  top: -20px;
  z-index: 10;
  left: 52px;
  top: -12px;
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
}
body .chats__chat-cont .user-name p {
  color: black;
  font-size: 10px;
  font-weight: 700;
}
body .chats__chat-cont .pfp-cont {
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 50px;
  outline: 3px solid white;
  background-color: rgb(240, 247, 62);
  -webkit-clip-path: polygon(0 0, 87% 6%, 92% 81%, 15% 94%);
          clip-path: polygon(0 0, 87% 6%, 92% 81%, 15% 94%);
}
body .chats__chat-cont .pfp-cont img {
  max-width: 50px;
  width: 100%;
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px);
}
body .chats__chat-cont .pfp-border {
  position: absolute;
  background: black;
  width: 58px;
  height: 68px;
  top: 49%;
  left: 1px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-clip-path: polygon(0 0, 87% 6%, 92% 81%, 15% 94%);
          clip-path: polygon(0 0, 87% 6%, 92% 81%, 15% 94%);
}
body .chatbox {
  width: 99%;
  height: 89vh;
  border: 2px solid black;
}
body .chatbox ul:nth-child(odd) {
  background-color: blue;
}
body .chatbox ul:nth-child(even) {
  background-color: orange;
}
body .inputs {
  position: fixed;
  bottom: 10px;
  left: 5px;
  right: 5px;
  width: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body .inputs .msg-container {
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0.5% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0.5% 100%);
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  padding: 10px;
  position: relative;
}
body .inputs .msg-container .msg {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0.5% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0.5% 100%);
  width: 98.5%;
  height: 15px;
  border-radius: 0;
  outline: none;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}
body .inputs .msg-container .msg:focus + .line {
  background-color: rgb(255, 50, 84);
}
body .inputs .msg-container .line {
  content: "";
  display: inline-block;
  position: absolute;
  width: 97%;
  height: 1px;
  background-color: grey;
  left: 22px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  bottom: 10px;
}
@media screen and (max-width: 1200px) {
  body .inputs .msg-container .line {
    width: 96%;
  }
}
@media screen and (max-width: 930px) {
  body .inputs .msg-container .line {
    width: 94%;
  }
}
@media screen and (max-width: 600px) {
  body .inputs .msg-container .line {
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  body .inputs .msg-container .line {
    width: 88%;
  }
}
body .inputs .send {
  font-family: "send", Arial, Helvetica, sans-serif;
  font-size: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
body .inputs .send:hover {
  color: rgb(206, 206, 206);
}
body .inputs .send:active {
  color: rgb(175, 175, 175);
}/*# sourceMappingURL=global.css.map */