@font-face {
  font-family: "send";
  src: url("../fonts/earwig_factory_rg.otf");
}
body {
  background-color: #b40000;
  position: relative;
  font-family: "Arsenal", sans-serif;
  overflow-y: scroll;
}
body .logo {
  position: fixed;
  top: -20px;
  left: -10px;
  z-index: 1000000;
}
body .chats {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  overflow: visible;
}
body .chats .chat {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
body .chats__chat-cont {
  position: relative;
  width: auto;
  height: 70px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
}
body .chats__chat-cont::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 90%;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 89% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 89% 0, 100% 100%, 0% 100%);
  z-index: -1;
  right: 0;
  background-color: red;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  opacity: 0;
}
@-webkit-keyframes move {}
@keyframes move {}
body .chats__chat-cont .chat-msg {
  color: white;
  font-weight: 600;
  background-color: black;
  -webkit-clip-path: polygon(0 0, 100% 0, 88% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 88% 100%, 0 100%);
  padding: 0 40px 0 10px;
  height: 43px;
  max-width: 320px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 50px;
  top: 5px;
  overflow: visible;
}
body .chats__chat-cont .chat-msg p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 430px) {
  body .chats__chat-cont .chat-msg {
    max-width: 220px;
  }
}
@media screen and (max-width: 330px) {
  body .chats__chat-cont .chat-msg {
    max-width: 180px;
  }
}
body .chats__chat-cont .user-name {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 20px;
  background-color: white;
  position: absolute;
  -webkit-clip-path: polygon(19% 0, 100% 0%, 100% 75%, 54% 86%, 54% 100%, 0 100%, 29% 84%);
          clip-path: polygon(19% 0, 100% 0%, 100% 75%, 54% 86%, 54% 100%, 0 100%, 29% 84%);
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 10px 0 35px;
  top: -20px;
  z-index: 10;
  left: 52px;
  top: -12px;
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
}
body .chats__chat-cont .user-name p {
  color: black;
  font-size: 10px;
  font-weight: 700;
}
body .chats__chat-cont .pfp-cont {
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 50px;
  outline: 3px solid white;
  background-color: rgb(240, 247, 62);
  -webkit-clip-path: polygon(0 0, 87% 6%, 92% 81%, 15% 94%);
          clip-path: polygon(0 0, 87% 6%, 92% 81%, 15% 94%);
}
body .chats__chat-cont .pfp-cont img {
  max-width: 50px;
  width: 100%;
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px);
}
body .chats__chat-cont .pfp-border {
  position: absolute;
  background: black;
  width: 58px;
  height: 68px;
  top: 49%;
  left: 1px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-clip-path: polygon(0 0, 87% 6%, 92% 81%, 15% 94%);
          clip-path: polygon(0 0, 87% 6%, 92% 81%, 15% 94%);
}
body .chatbox {
  width: 99%;
  height: 89vh;
}
body .chatbox ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
body .chatbox ul li:nth-child(odd) {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .chatbox ul li:nth-child(odd) .message {
  color: white;
  background-color: white;
  max-width: 200px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: static;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 10px;
  border: 5px solid black;
  -webkit-transform: skewX(-10deg) rotateY(180deg);
          transform: skewX(-10deg) rotateY(180deg);
  margin-right: 70px;
}
body .chatbox ul li:nth-child(odd) .message p {
  -webkit-transform: skewX(-10deg) rotateY(180deg);
          transform: skewX(-10deg) rotateY(180deg);
  margin: 0;
  font-weight: 600;
  color: black;
}
body .chatbox ul li:nth-child(odd) .message::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 200px;
  height: 300px;
  background-color: white;
  -webkit-clip-path: polygon(10% 52%, 19% 57%, 28% 51%, 27% 58%, 19% 64%, 13% 59%, 0 68%);
          clip-path: polygon(10% 52%, 19% 57%, 28% 51%, 27% 58%, 19% 64%, 13% 59%, 0 68%);
  -webkit-transform: translate(0, -52%);
      -ms-transform: translate(0, -52%);
          transform: translate(0, -52%);
  left: -54px;
  z-index: 2;
}
body .chatbox ul li:nth-child(odd) .message::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 200px;
  height: 300px;
  background-color: black;
  -webkit-clip-path: polygon(10% 49.5%, 19% 56.5%, 26% 51%, 27% 57%, 21% 65.5%, 12% 61%, 0 68%);
          clip-path: polygon(10% 49.5%, 19% 56.5%, 26% 51%, 27% 57%, 21% 65.5%, 12% 61%, 0 68%);
  -webkit-transform: translate(0, -52%);
      -ms-transform: translate(0, -52%);
          transform: translate(0, -52%);
  left: -54px;
  z-index: 1;
}
body .chatbox ul li:nth-child(even) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
}
body .chatbox ul li:nth-child(even) .message {
  color: white;
  background-color: black;
  max-width: 400px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  left: 90px;
  top: -10px;
  padding: 10px;
  border: 5px solid white;
  -webkit-transform: skewX(-10deg);
      -ms-transform: skewX(-10deg);
          transform: skewX(-10deg);
}
body .chatbox ul li:nth-child(even) .message p {
  -webkit-transform: skewX(10deg);
      -ms-transform: skewX(10deg);
          transform: skewX(10deg);
  margin: 0;
  font-weight: 600;
}
body .chatbox ul li:nth-child(even) .message p span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-animation-name: typing;
          animation-name: typing;
  -webkit-animation-duration: 0.65s;
          animation-duration: 0.65s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
body .chatbox ul li:nth-child(even) .message p span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
body .chatbox ul li:nth-child(even) .message p span:last-child {
  margin-right: 0;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
@-webkit-keyframes typing {
  from {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes typing {
  from {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
body .chatbox ul li:nth-child(even) .message::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 200px;
  height: 300px;
  background-color: black;
  -webkit-clip-path: polygon(10% 52%, 19% 57%, 28% 51%, 27% 58%, 19% 64%, 13% 59%, 0 68%);
          clip-path: polygon(10% 52%, 19% 57%, 28% 51%, 27% 58%, 19% 64%, 13% 59%, 0 68%);
  -webkit-transform: translate(0, -52%);
      -ms-transform: translate(0, -52%);
          transform: translate(0, -52%);
  left: -54px;
  z-index: 2;
}
body .chatbox ul li:nth-child(even) .message::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 200px;
  height: 300px;
  background-color: white;
  -webkit-clip-path: polygon(10% 49.5%, 19% 56.5%, 26% 51%, 27% 57%, 21% 65.5%, 12% 61%, 0 68%);
          clip-path: polygon(10% 49.5%, 19% 56.5%, 26% 51%, 27% 57%, 21% 65.5%, 12% 61%, 0 68%);
  -webkit-transform: translate(0, -52%);
      -ms-transform: translate(0, -52%);
          transform: translate(0, -52%);
  left: -54px;
  z-index: 1;
}
body .chatbox ul li:last-child {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
@-webkit-keyframes fade {
  from {
    -webkit-transform: translateY(20px) translateX(-20px);
            transform: translateY(20px) translateX(-20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes fade {
  from {
    -webkit-transform: translateY(20px) translateX(-20px);
            transform: translateY(20px) translateX(-20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
body .chatbox ul li .pfp-cont {
  background-color: white;
}
body .chatbox ul li .user-name {
  left: 20px;
  top: -20px;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
body .inputs {
  position: fixed;
  bottom: 10px;
  left: 5px;
  right: 5px;
  width: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body .inputs .msg-container {
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0.5% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0.5% 100%);
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  padding: 10px;
  position: relative;
}
body .inputs .msg-container .msg {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0.5% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0.5% 100%);
  width: 98.5%;
  height: 15px;
  border-radius: 0;
  outline: none;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}
body .inputs .msg-container .msg:focus + .line {
  background-color: rgb(255, 50, 84);
}
body .inputs .msg-container .line {
  content: "";
  display: inline-block;
  position: absolute;
  width: 97%;
  height: 1px;
  background-color: grey;
  left: 22px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  bottom: 10px;
}
@media screen and (max-width: 1200px) {
  body .inputs .msg-container .line {
    width: 96%;
  }
}
@media screen and (max-width: 930px) {
  body .inputs .msg-container .line {
    width: 94%;
  }
}
@media screen and (max-width: 600px) {
  body .inputs .msg-container .line {
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  body .inputs .msg-container .line {
    width: 88%;
  }
}
body .inputs .send {
  font-family: "send", Arial, Helvetica, sans-serif;
  font-size: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
body .inputs .send:hover {
  color: rgb(206, 206, 206);
}
body .inputs .send:active {
  color: rgb(175, 175, 175);
}/*# sourceMappingURL=global.css.map */